
html {
  text-align: center;
  font-family: 'Jersey 15';
}

button {
  font-family: 'Jersey 15';
  border: 5px solid black;
  color: black;
}

img {
  margin-top: 20px;
}

.discord {
  margin-right: 10px;
}

.github {
  margin-left: 10px;

footer {
  margin-top: 30px;
}